
label
	display: grid
	border: 1px solid var(--border-color)
	box-sizing: border-box

	& > input, & > select
		border: 0px solid transparent
		grid-area: 1/1/2/2
		background-color: transparent
		height: 2.3rem
		margin: 0px 1rem
		font: var(--text-font)
		color: var(--text-color)
		&:focus
			outline: none

		& ~ legend
			grid-area: 1/1/2/2
			align-self: flex-start
			max-width: max-content
			padding: 0px 1ex
			margin: -1px 1em 0px 1em
			height: 3px
			display: inline-flex
			align-items: center
			background-color: var(--canvas-color)

		& ~ sub
			grid-area: 1/1/2/2
			place-self: flex-end
			display: inline-flex
			align-items: center
			max-width: max-content
			padding: 0px 1ex
			margin: 0px 1em -1px 1em
			height: 3px
			background-color: var(--canvas-color)

		& ~ sup
			grid-area: 1/1/2/2
			align-self: center
			justify-self: flex-end
			display: inline-flex
			align-items: center
			white-space: nowrap
			margin: -.75rem
			background: var(--canvas-color)
			&:before
				content: '?'
				font-size: initial
				font-weight: bolder
				color: var(--extra-color)
				display: inline-flex
				align-items: center
				justify-content: center
				border: 1px solid var(--border-color)
				height: 1.3rem
				width: 1.3rem
				border-radius: 50%

		& ~ i
			grid-area: 1/1/2/2
			align-self: center
			justify-self: flex-start
			display: inline-flex
			align-items: center
			text-indent: -100000em

		&[type="color"]
			inline-size: auto
			block-size: 1.5rem
			align-self: center

		&[type="checkbox"],&[type="radio"]
			justify-self: flex-start
			& + span
				grid-area: 1/1/2/3
				display: inline-flex
				flex-wrap: wrap
				align-items: center
		&.switcher[type="checkbox"]
			margin: .65rem 1rem
			& + span
				margin: 0px 3rem

input[type="number"]
	-moz-appearance: textfield
	appearance: textfield
input[type="number"]::-webkit-inner-spin-button
	display: none

input[type="range"]::-moz-range-thumb
	width: .7rem
	height: .7rem
	background: var(--active-color)
	border: 1px solid var(--active-color)

input[type="range"]::-moz-range-track
	background: var(--canvas-color)
	border: 1px solid var(--border-color)
	height: .1rem
input[type="range"]::-moz-range-progress
	background: var(--active-color)

input[type="range"]
	cursor: pointer
	-webkit-appearance: none
	--range: calc(var(--max) - var(--min))
	--ratio: calc((var(--value) - var(--min)) / var(--range))
	--sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
	&::-webkit-slider-thumb
		-webkit-appearance: none
		width: .8em
		height: .8em
		border-radius: .7em
		background: var(--active-color)
		border: none
		box-shadow: 0 0 0px transparent
		margin-top: -.3rem

	&::-webkit-slider-runnable-track
		height: .3em;
		border: 1px solid var(--border-color);
		border-radius: 0.3em;
		background: transparent;
	&::-webkit-progress-value
		background: var(--active-color)

input.switcher[type="checkbox"]
	appearance: inherit
	width: 1.5rem
	height: 1rem
	border-radius: 1rem
	background: radial-gradient(circle at .5rem, var(--canvas-color) .37rem, var(--placeholder-color) 0)
	cursor: pointer
	&:checked
		background: radial-gradient(circle at 1rem, var(--canvas-color) .37rem, var(--active-color) 0)
