root-dark =
	--canvas-color: rgb( 24 24 24 )
	--canvas-color-10: rgba( 24 24 24 .1 )
	--canvas-color-30: rgba( 24 24 24 .3 )
	--canvas-color-50: rgba( 24 24 24 .5 )
	--canvas-color-75: rgba( 24 24 24 .75 )

	--title-color: lightness(rgb( 37 40 48 ), 40%)


	--link-color: lightness(rgb( 51 153 255 ), 30%)
	--active-color: lightness(rgb( 22 112 94 ), 30%)
	--hover-color: lightness(rgb(51 179 204), 30%)

	--visited-color: lightness(rgb(5 60 60), 20%)

	--focus-color: lightness(rgb(0 119 155), 30%)
	--checked-color: lightness(rgb( 51 166 230), 30%)

	--border-color: lightness(rgba(0, 0, 0, .15), 80%)

	--placeholder-color: lightness(rgba(0, 0, 0, .35), 80%)
	--disabled-color: lightness(rgb( 248 248 248 ), 40%)
	--select-color: lightness(rgba(0 89 154, .3), 50%)