root-light =
	--canvas-color: rgb( 255 255 255 )
	--canvas-color-10: rgba( 255 255 255 .1 )
	--canvas-color-30: rgba( 255 255 255 .3 )
	--canvas-color-50: rgba( 255 255 255 .5 )
	--canvas-color-75: rgba( 255 255 255 .75 )

	--title-color: rgb( 37 40 48 )
	--text-color: rgb( 89 89 89 )
	--extra-color: rgb( 160 160 160 )

	--link-color: rgb( 51 153 255 )
	--active-color: rgb( 22 112 94 )
	--hover-color: rgb( 51 179 204 )

	--visited-color: rgb( 5 60 60 )

	--focus-color: rgb( 0 119 155 )
	--checked-color: rgb( 51 166 230)

	--border-color: rgba(0, 0, 0, .15)

	--placeholder-color: rgba(0, 0, 0, .35)
	--disabled-color: rgba(0, 0, 0, .05)
	--select-color: rgba(51, 179, 204, .3)

	--invalid-color: rgba(249 49 17, .7)
	--info-color: rgba(47 2 101, .7)
	--warning-color: rgba(249 166 17, .7)