
blockquote
	margin: 0px
	padding: 1rem 0px
	display: flex
	gap: 1rem
	align-items: flex-start
	border-style:  dashed
	border-color: var(--info-color)
	border-width: 1px 0px
	flex-grow: 1
	width: 100%
	&:before
		content: '\24d8'
		color: var(--info-color)
		font-size: 1.3rem
		display: inline-flex
		line-height: 70%