
h1,h2,h3,h4,h5,h6
	font: var(--title-font)
	color: var(--title-color)
	margin: 0px

h1
	font-size: 2rem
h2
	font-size: 1.5rem

h3
	font-size: 1.17rem
h4
	font-size: 1rem
h5
	font-size: .83rem
h6
	font-size: .7rem

hr
	height: 1px
	border: 0px solid transparent
	background: var(--border-color)
	display: flex
	align-items: center
	overflow: visible
	& > legend
		line-height: 3px
		margin: 0px 1rem
		padding: 0px 1rem
		background: var(--canvas-color)