@import './figure'
@import './headers'
@import './blockquote'
@import './fieldset'
@import './link'
@import './button'
@import './lists'

dfn
	display: block
	color: var(--extra-color)
	font: var(--extra-font)
	font-style: italic
